body {
    background-color: #f1f1f1; /* set background color to anti-flash white */
    color: #000000; /* set text color to black */
    font-family: Verdana, sans-serif, Tahoma, Helvetica, Arial;
}

#introduction {
    background-color: #3B4046; /* set background color to dark cyan */
}

.profile-img {
    width: 10rem;
    max-width: 200px;
    height: auto;
}

.navbar .nav-link {
    color: white !important;
    padding: 0.5rem 1rem;
}

.navbar .nav-link:hover {
    background-color: gray;
    color: black !important;
}